<p id="notice"><%= notice %></p>

<h1 align=center>Staff</h1>
<div align=right>
  <%= form_with(url: staffs_path, method: :get, local: true) do |form|%>
    <%= form.text_field(:q) %>
    <%= form.submit 'search by staff name' %>
  <% end %>
  <%= link_to 'Return', staffs_path %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Worker name</th>
      <th scope="col">Projects</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><% staff.projects.each do |project| %>
          <%= link_to project.name, project_path(project) %>
        <% end %>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_staff_path %>
