<p id="notice"><%= notice %></p>

<h1 align=center>Projects</h1>
<div align=right>
  <%= form_with(url: projects_path, method: :get, local: true) do |form|%>
    <%= form.text_field(:q) %>
    <%= form.submit 'search by project' %>
  <% end %>
  <%= link_to 'Return', root_path %>
</div>
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Project name</th>
      <th scope="col">Staff assigned</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><% project.staffs.each do |staff| %>
          <%= link_to staff.name, staff_path(staff) %>
          <%= link_to "X", delete_staff_path(project, staff), method: :delete %>
        <% end %>
        <td><%= link_to 'Assign staff', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
